.navbar .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 1rem !important;
}

.navbar .nav-item.active {
  border-left: 3px solid #444;
}

.navbar .nav-item.active a {
  color: #fff;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background-image: url(../img/image1.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background-image: url(../img/image2.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background-image: url(../img/image3.jpg);
  background-size: cover;
}

.bi {
  font-size: 3rem;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background-image: url(../img/lights.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

#video-play {
  position: relative;
  min-height: 200px;
  background-image: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  color: #fff;
}

#video-play a i {
  color: #fff;
  font-size: 4rem;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.dark-overlay .row {
  margin-right: 0;
  margin-left: 0;
}

#page-header {
  height: 200px;
  background-image: url(/img/image1.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding-top: 50px;
}

.about-img {
  margin-top: -70px;
}

#icon-boxes i {
  font-size: 4rem;
}